<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Simple Authentication App</a>
</nav>
<div style="margin-right: 1110cm;">

    <div class="card" style="width: 18rem;">
        <img src="/images/test.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text"></p>
            <button type="button" class="btn btn-outline-info btn-lg">login</button>
            <button type="button" class="btn btn-outline-info btn-lg">register</button>
        </div>
    </div>
    <a class="btn btn-primary btn-lg active" href="/login">Login</a>
    <a class="btn btn-primary btn-lg active" href="/register">Register</a>
</div>

<link rel="stylesheet" href="/styles/home.css">
